<body style="background-color: #a373a3;">
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 50rem; height: auto;">
      <div class="card-body">
        <h1 class="card-title text-center mb-3" style="color: purple;">Mega-Sena</h1>
        <h4 class="card-subtitle mb-3 text-center" style="color: #5e5d5e;">Selecione seus números de aposta:</h4>
        <h5 class="card-subtitle mb-3 text-center" style="color: #5e5d5e;">Você pode selecionar de 6 a 10 números</h5>

        <!-- Grid de números de 1 a 60, cada número em um botão -->
        <div class="mb-4" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 5px;">
          
          <!-- Loop para criar um botão para cada número -->
          <div *ngFor="let numero of numeros" style="margin: 5px;">
            <button 
              type="button"
              class="btn"
              [ngClass]="{
                'btn-primary': isSelecionado(numero), 
                'btn-light': !isSelecionado(numero),
                'btn-secondary': isSelecionado(numero) && selecaoAposta.length < 10, 
                'btn-danger': selecaoAposta.length >= 10
              }"
              style="font-size: 18px; width: 50px; height: 50px; border-radius: 50%; margin: 2px; "
              (click)="selecionarNumero(numero)">
               <!-- Exibe o número no botão -->
              {{ numero }}
            </button>
          </div>
        </div>

        <!-- Mensagem de erro quando o usuário tenta selecionar mais de 10 números -->
        <p *ngIf="mensagemErro" class="text-center" style="color: red; font-weight: bold; font-size: 1.2rem;">
          {{ mensagemErro }}
        </p>

        <div class="d-flex justify-content-center mb-3">
          <button type="button" class="btn btn-primary" style="font-size: 22px; background-color: purple; color: white; padding: 8px 0; width: 200px;" (click)="onSubmit()">Conferir Aposta</button>
        </div>

        <div class="mb-5 text-center">
          <label for="resultado" style="color: #000000; font-weight: bold; font-size: 1.5rem;">Você acertou: </label>
          <p id="resultado" style="font-weight: bold; font-size: 1.5rem;">
            <!-- Exibe o resultado da aposta ou '...' se ainda não houver resultado -->
            {{ resultado !== null ? resultado : '...' }} 
          </p>
        </div>

        <div class="d-flex justify-content-center mb-3">
          <button type="button" class="btn btn-secondary" style="font-size: 20px; background-color: purple; color: white; padding: 8px 0; width: 200px;" (click)="toggleSorteados()">Mostrar Números Sorteados</button>
        </div>

        <!-- Exibição dos números sorteados, se a variável sorteadosExibidos for verdadeira -->
        <p *ngIf="sorteadosExibidos" class="text-center" style="font-size: 22px; color: purple; font-weight: bold; padding: 10px; border-radius: 8px; box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.2); width: 300px; margin: 0 auto;">
          <!-- Exibe os números sorteados, separados por vírgula -->
          {{ sorteados.join(', ') }}
        </p>

      </div>
    </div>
  </div>
</body>
